@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format("woff2");
}
@mixin Roboto {
  font-family: "Roboto";
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  color: white;
}

.lwrapper {
  box-sizing: border-box;
}

.lwrapper .header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include Roboto();

  .logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 5px;
  }
  .nav {
    margin-right: 5%;
    font-size: 18px;

    button {
      width: 100px;
      height: 30px;
      margin-right: 10px;
      background-color: gold;
      border: none;
      border-radius: 5%;
      &:hover {
        border: 1px solid #1d1d1d;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}

.lwrapper .main {
  height: auto;
  box-sizing: border-box;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .introduction {
    box-sizing: border-box;
    width: 80%;
    height: 450px;  
    background-color: #464646;
    display: flex;
    
    .text {
      width: 40%;
      height: 100%;
      box-sizing: border-box; 
      display: flex;
      flex-direction: column;
      
      padding: 0 0 10px 20px;
      @include Roboto();
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 20px;
      }

      &--buttons button{
        width: 100px;
        height: 30px;
        margin: 60px 10px 10px 0;
        background-color: gold;
        border: none;
        border-radius: 5%;
        font-size: 20px;
        &:hover {
          border: 1px solid #1d1d1d;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    .picture {
      box-sizing: border-box;
      width: 60%;
      height: 100%;
      padding: 20px;
      .img {
        height: 100%;
        background-image: url('../images/piskel.png');
        background-size: cover;
      }
    }
  }

  .examples {
    width: 60%;
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    
    .example1 {
      width: 200px;
      height: 200px;
      border: 3px solid gold;
      box-shadow: 2px 2px 5px 2px gold;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/example1.gif');
    }

    .example2 {
      width: 200px;
      height: 200px;
      border: 3px solid gold;
      box-shadow: 2px 2px 5px 2px gold;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/example2.gif');
    }

    .example3 {
      width: 200px;
      height: 200px;
      border: 3px solid gold;
      box-shadow: 2px 2px 5px 2px gold;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/example3.gif');
    }

  }

  .features {
    width: 60%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #464646;
    @include Roboto();
    h3 {
      font-size: 24px;
    }

    .strings {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .string {
      width: 60%;
      display: flex;
      font-size: 20px;
      justify-content: space-around;
      img {
        width: 90px;
        height: 90px;
      }
    }
  }
}

.lwrapper .footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include Roboto();
  .contact {
    display: flex;
    align-items: center;
    margin: auto;

    .img.github {
      width: 40px;
      height: 40px;
      background-image: url("../images/GitHub-Mark/PNG/GitHub-Mark-32px.png");
      background-repeat: no-repeat;
    }

    a {
      margin-left: 20px;
      color: white;
      text-decoration: none;
      &:hover {
        color: #ccc;
        text-decoration: underline;
      }
    }
  }

  .logo {
    color: #a9a9a9;
    font-size: 56px;
    margin: 0 20px;
    letter-spacing: 7px;
  }
}

